In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/b1/35/75c9c2d9cfc073ab6c42b2d8e91ff58c9b99f4ed7ed56b36647642e6080e/psycopg2_binary-2.8.3-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 2.8MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.3

In [0]:
# Decided to get the list of table names

table_names= ["bitfinex_bchbtc",
"bitfinex_bchusd", "bitfinex_btcusd", "bitfinex_btcusdt", "bitfinex_dashbtc",
'bitfinex_dashusd','bitfinex_eosbtc','bitfinex_eosusd','bitfinex_eosusdt','bitfinex_etcbtc',
'bitfinex_etcusd','bitfinex_ethbtc','bitfinex_ethusd','bitfinex_ltcbtc',
'bitfinex_ltcusd','bitfinex_xlmusd','bitfinex_xrpbtc','bitfinex_xrpusd','bitfinex_zecbtc',
'bitfinex_zecusd','coinbase_pro_bchbtc','coinbase_pro_bchusd','coinbase_pro_btcusd',
'coinbase_pro_btcusdc','coinbase_pro_dashbtc','coinbase_pro_dashusd','coinbase_pro_eosbtc',
'coinbase_pro_eosusd','coinbase_pro_etcbtc','coinbase_pro_etcusd',
'coinbase_pro_ethbtc','coinbase_pro_ethusd','coinbase_pro_ethusdc','coinbase_pro_ltcbtc','coinbase_pro_ltcusd',
'coinbase_pro_xlmusd','coinbase_pro_xrpbtc','coinbase_pro_xrpusd',
'coinbase_pro_zecbtc','coinbase_pro_zecusdc','poloniex_bchbtc',
'poloniex_bchusdc','poloniex_btcusdc','poloniex_btcusdt','poloniex_dashbtc',
'poloniex_dashusdc','poloniex_dashusdt','poloniex_eosbtc','poloniex_eosusdc',
'poloniex_eosusdt','poloniex_etcbtc','poloniex_etcusdt','poloniex_ethbtc',
'poloniex_ethusdc','poloniex_ethusdt','poloniex_ltcbtc','poloniex_ltcusdc',
'poloniex_xlmusdc','poloniex_xlmusdt','poloniex_xrpbtc','poloniex_xrpusdc',
'poloniex_xrpusdt','poloniex_zecbtc','poloniex_zecusdc','poloniex_zecusdt']

# Retrieve Data Function From DB

- Change limit to whatever amount rows you want.
- example df = results['coinbase_pro_btcusd']

In [0]:
import psycopg2 as ps
import pandas as pd

POSTGRES_ADDRESS = '' ## End Point
POSTGRES_PORT = '' ##Port #
POSTGRES_USERNAME = '' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = '' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD 
POSTGRES_DBNAME = '' ## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information 
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(
                 username=POSTGRES_USERNAME, password=POSTGRES_PASSWORD, 
                 ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT, dbname=POSTGRES_DBNAME))

        
results = {table_name: pd.DataFrame() for table_name in table_names}
           
def retrieve_data(table_names):
  
  conn = ps.connect(host=POSTGRES_ADDRESS,
                  database=POSTGRES_DBNAME,
                  user=POSTGRES_USERNAME,
                  password=POSTGRES_PASSWORD,
                  port=POSTGRES_PORT)
    
  cur = conn.cursor()

  for table_name in table_names:
    
            # Change limit number to whatever amount of rows you want to retrieve
            cur.execute("SELECT * FROM {table_name} order by time desc limit 3".format(table_name=table_name))
                      
            result = cur.fetchall()
            
            results[table_name] = results[table_name].append(result, ignore_index=True)
            
            results[table_name] = results[table_name].rename(columns={0:'time', 1:'open', 2:'high', 3:'low', 4:'close', 5:'volume'})
            #print(results[table_name])
            
  conn.close()

In [0]:
# Using Function
retrieve_data(table_names)

In [52]:
# Need to call each DF with their table name
results['coinbase_pro_btcusd']

         time     open     high      low    close     volume
0  1571344200  8053.00  8057.48  8051.22  8052.02   8.528794
1  1571343900  8064.34  8064.34  8053.01  8053.58  15.335655
2  1571343600  8059.71  8066.83  8055.66  8064.34  11.442654