## Import data

In [0]:
import pandas as pd

In [53]:
# import data
path = 'coinbase_btc_usd.csv'
df = pd.read_csv(path)

# drop unnecessary columns and change the order of time
df.drop(df.columns[0], axis=1, inplace=True)
df = df[::-1]
df.head()

              time    open    high     low   close     volume
440082  1437428100  277.98  277.99  277.97  277.97   1.501500
440081  1437428400  277.98  278.00  277.98  277.99  17.756475
440080  1437428700  278.00  278.00  277.98  277.99  13.655500
440079  1437429000  277.98  278.00  277.92  277.94  12.433782
440078  1437429300  278.00  278.00  277.95  278.00  13.913200

In [0]:
df = df[5:]

In [55]:
df[::12]

              time     open     high      low    close      volume
440077  1437429600   278.00   278.24   277.95   278.20   10.972100
440065  1437433200   278.31   278.39   278.15   278.18   19.395500
440053  1437436800   279.96   279.99   279.90   279.93   19.348981
440041  1437440400   280.89   280.90   280.75   280.90   23.172100
440029  1437444000   280.36   280.46   280.19   280.32   11.123800
440017  1437447600   280.37   280.44   279.98   280.19    9.258939
440005  1437451200   281.04   281.04   280.94   280.94   15.260200
439993  1437454800   280.99   280.99   280.97   280.97    6.728146
439981  1437458400   280.81   280.81   280.56   280.57    3.376700
439969  1437462300   279.33   279.54   279.33   279.54    6.623800
439957  1437465900   279.59   279.59   279.50   279.57    0.671500
439945  1437469500   279.80   280.23   279.80   280.23    1.283200
439933  1437473100   279.20   279.20   279.01   279.10    7.299058
439921  1437476700   279.17   279.17   278.76   278.82   54.115900
439909  1437480300   279.04   279.04   279.00   279.02    8.071600
439897  1437483900   278.69   278.82   278.61   278.81   15.392700
439885  1437487500   279.25   279.33   278.93   278.94   13.238600
439873  1437491100   279.41   279.41   279.31   279.31   13.290764
439861  1437494700   279.66   279.69   279.65   279.66   15.490700
439849  1437498300   279.67   279.88   279.62   279.76    8.485300
439837  1437501900   279.75   279.76   279.75   279.76   10.586468
439825  1437505500   279.97   280.00   279.77   280.00   31.514300
439813  1437509100   279.98   280.00   279.82   279.82   11.457500
439801  1437512700   279.79   279.85   279.59   279.61   11.442513
439789  1437516300   279.55   279.61   279.51   279.53   14.183500
439777  1437519900   278.09   278.09   277.41   277.59   51.506600
439765  1437523500   277.32   277.33   277.32   277.33   48.320469
439753  1437527100   277.99   278.30   277.99   278.01   15.191900
439741  1437530700   276.77   276.81   276.50   276.75   11.240000
439729  1437534300   276.68   276.90   276.44   276.88    9.068439
...            ...      ...      ...      ...      ...         ...
349     1569783300  7985.07  7985.07  7980.01  7980.01    8.419813
337     1569786900  7949.46  7966.13  7945.03  7956.79   23.881048
325     1569790500  8017.05  8017.05  8005.60  8006.30   12.555009
313     1569794100  8052.48  8066.65  8042.96  8046.09   11.707647
301     1569797700  8067.01  8088.00  8067.01  8085.45   30.567890
289     1569801300  8062.83  8063.00  8048.40  8052.40   33.015136
277     1569804900  8042.30  8042.31  8027.30  8027.31   11.074707
265     1569808500  8018.57  8021.12  8017.72  8021.12   20.539097
253     1569812100  7977.01  7988.24  7971.39  7987.41   10.220083
241     1569815700  7975.98  7984.96  7975.98  7979.35    9.096966
229     1569819300  7749.04  7826.15  7749.04  7826.15  164.319364
217     1569822900  7801.13  7801.99  7793.61  7793.61   17.094975
205     1569826500  7764.58  7766.85  7749.00  7759.20   46.302489
193     1569830100  7804.77  7808.17  7796.46  7800.40   26.121294
181     1569833700  7873.26  7875.62  7873.26  7874.55    7.451175
169     1569837300  7983.73  8040.00  7983.73  8005.95   96.011558
157     1569840900  8026.15  8064.44  8026.14  8052.13   43.604056
145     1569844500  8029.22  8051.10  8029.21  8046.05   35.316650
133     1569848100  8019.26  8019.26  8008.90  8011.13   12.015960
121     1569851700  8117.41  8142.00  8117.41  8122.13   95.724616
109     1569855300  8209.70  8286.57  8205.56  8213.00  315.211503
97      1569858900  8314.04  8323.33  8284.00  8300.00   57.981216
85      1569862500  8280.00  8299.92  8279.99  8290.06   76.682840
73      1569866100  8260.00  8260.00  8252.01  8256.20   20.704555
61      1569869700  8294.54  8295.98  8285.00  8285.58   18.166487
49      1569873300  8270.89  8284.00  8270.89  8283.71  102.082793
37      1569876900  8223.96  8239.69  8221.14  8238.31   25.419603
25      1569880500  8250.86  8265.00  8245.88  8246.94   61.104459
13      1569884100  8244.98  8246.19  8240.52  8243.28   12.830112
1       1569887700  8282.01  8313.21  8282.00  8304.96   37.156153

[36674 rows x 6 columns]

In [0]:
df['date'] = pd.to_datetime(df['time'],unit='s')

In [0]:
df = df[['time', 'date', 'open', 'high', 'low', 'close', 'volume']]

In [58]:
df.reset_index(drop=True)

              time                date     open  ...      low    close      volume
0       1437429600 2015-07-20 22:00:00   278.00  ...   277.95   278.20   10.972100
1       1437429900 2015-07-20 22:05:00   278.21  ...   277.98   278.01   43.714979
2       1437430200 2015-07-20 22:10:00   278.18  ...   277.37   278.02  100.646424
3       1437430500 2015-07-20 22:15:00   277.49  ...   277.49   277.65    9.159135
4       1437430800 2015-07-20 22:20:00   277.92  ...   277.71   278.00   14.742900
5       1437431100 2015-07-20 22:25:00   277.88  ...   277.40   277.89   45.091270
6       1437431400 2015-07-20 22:30:00   277.90  ...   277.73   277.97    9.439100
7       1437431700 2015-07-20 22:35:00   277.88  ...   277.80   277.95   19.777300
8       1437432000 2015-07-20 22:40:00   278.05  ...   277.89   277.89   12.426000
9       1437432300 2015-07-20 22:45:00   277.92  ...   277.92   278.47   31.812649
10      1437432600 2015-07-20 22:50:00   278.48  ...   278.01   278.28   13.087587
11      1437432900 2015-07-20 22:55:00   278.17  ...   278.02   278.14   36.125966
12      1437433200 2015-07-20 23:00:00   278.31  ...   278.15   278.18   19.395500
13      1437433500 2015-07-20 23:05:00   278.36  ...   278.29   278.86   22.653700
14      1437433800 2015-07-20 23:10:00   278.74  ...   278.54   278.81   45.041900
15      1437434100 2015-07-20 23:15:00   278.76  ...   278.46   278.59   24.531597
16      1437434400 2015-07-20 23:20:00   278.59  ...   278.47   278.72   10.651893
17      1437434700 2015-07-20 23:25:00   278.74  ...   278.70   278.70    6.334300
18      1437435000 2015-07-20 23:30:00   278.72  ...   278.68   278.72    6.707400
19      1437435300 2015-07-20 23:35:00   278.72  ...   278.68   278.98   67.928700
20      1437435600 2015-07-20 23:40:00   278.93  ...   278.80   278.94    6.089600
21      1437435900 2015-07-20 23:45:00   278.89  ...   278.89   279.25   84.361891
22      1437436200 2015-07-20 23:50:00   279.16  ...   279.02   279.31   28.507352
23      1437436500 2015-07-20 23:55:00   279.31  ...   279.31   280.00   54.423719
24      1437436800 2015-07-21 00:00:00   279.96  ...   279.90   279.93   19.348981
25      1437437100 2015-07-21 00:05:00   279.92  ...   279.58   279.74   34.883709
26      1437437400 2015-07-21 00:10:00   279.72  ...   279.47   279.47   12.551100
27      1437437700 2015-07-21 00:15:00   279.66  ...   279.38   279.38   57.694031
28      1437438000 2015-07-21 00:20:00   279.49  ...   279.48   279.50   16.429900
29      1437438300 2015-07-21 00:25:00   279.48  ...   279.47   279.50   46.998196
...            ...                 ...      ...  ...      ...      ...         ...
440048  1569879300 2019-09-30 21:35:00  8195.96  ...  8195.96  8200.01   35.594922
440049  1569879600 2019-09-30 21:40:00  8200.01  ...  8191.00  8193.78   19.917564
440050  1569879900 2019-09-30 21:45:00  8191.78  ...  8191.01  8200.00   20.607566
440051  1569880200 2019-09-30 21:50:00  8200.00  ...  8199.99  8247.27  186.056217
440052  1569880500 2019-09-30 21:55:00  8250.86  ...  8245.88  8246.94   61.104459
440053  1569880800 2019-09-30 22:00:00  8247.41  ...  8241.18  8242.04   21.572383
440054  1569881100 2019-09-30 22:05:00  8242.00  ...  8242.00  8275.00   71.546168
440055  1569881400 2019-09-30 22:10:00  8274.99  ...  8269.51  8279.48   78.277872
440056  1569881700 2019-09-30 22:15:00  8279.48  ...  8261.00  8261.00   17.792704
440057  1569882000 2019-09-30 22:20:00  8261.01  ...  8258.53  8258.53   13.514665
440058  1569882300 2019-09-30 22:25:00  8258.50  ...  8254.05  8262.00   20.615499
440059  1569882600 2019-09-30 22:30:00  8262.00  ...  8253.21  8253.21   26.454749
440060  1569882900 2019-09-30 22:35:00  8253.21  ...  8241.52  8245.75   20.395935
440061  1569883200 2019-09-30 22:40:00  8245.74  ...  8225.00  8233.91   34.316545
440062  1569883500 2019-09-30 22:45:00  8233.93  ...  8230.00  8232.27   31.784732
440063  1569883800 2019-09-30 22:50:00  8233.86  ...  8232.26  8244.96   15.750959
440064  1569884100 2019-09-30 22:55:00  8244.98  ...  8240.52  8243.28   12.830112
440065  1569884400 2019-09-30 23:00:00  8241.45  ...  8241.44  8259.19   14.237312
440066  1569884700 2019-09-30 23:05:00  8258.68  ...  8250.13  8254.47   13.655717
440067  1569885000 2019-09-30 23:10:00  8254.47  ...  8254.13  8262.99   18.551506
440068  1569885300 2019-09-30 23:15:00  8262.99  ...  8261.98  8272.94   15.101799
440069  1569885600 2019-09-30 23:20:00  8272.94  ...  8262.77  8265.02   17.169602
440070  1569885900 2019-09-30 23:25:00  8263.07  ...  8254.97  8257.95   20.879511
440071  1569886200 2019-09-30 23:30:00  8257.17  ...  8257.17  8272.78   27.714420
440072  1569886500 2019-09-30 23:35:00  8271.94  ...  8269.76  8286.61   58.538515
440073  1569886800 2019-09-30 23:40:00  8286.59  ...  8286.57  8300.05   65.999912
440074  1569887100 2019-09-30 23:45:00  8300.04  ...  8281.10  8289.06   35.709549
440075  1569887400 2019-09-30 23:50:00  8287.70  ...  8275.50  8282.00   18.361751
440076  1569887700 2019-09-30 23:55:00  8282.01  ...  8282.00  8304.96   37.156153
440077  1569888000 2019-10-01 00:00:00  8304.95  ...  8260.54  8267.85  149.436847

[440078 rows x 7 columns]

In [0]:
df = df.drop(columns=['time'])

In [0]:
df2 = df.reset_index(drop=True)

In [61]:
pd.to_datetime(df2['date'])

0        2015-07-20 22:00:00
1        2015-07-20 22:05:00
2        2015-07-20 22:10:00
3        2015-07-20 22:15:00
4        2015-07-20 22:20:00
5        2015-07-20 22:25:00
6        2015-07-20 22:30:00
7        2015-07-20 22:35:00
8        2015-07-20 22:40:00
9        2015-07-20 22:45:00
10       2015-07-20 22:50:00
11       2015-07-20 22:55:00
12       2015-07-20 23:00:00
13       2015-07-20 23:05:00
14       2015-07-20 23:10:00
15       2015-07-20 23:15:00
16       2015-07-20 23:20:00
17       2015-07-20 23:25:00
18       2015-07-20 23:30:00
19       2015-07-20 23:35:00
20       2015-07-20 23:40:00
21       2015-07-20 23:45:00
22       2015-07-20 23:50:00
23       2015-07-20 23:55:00
24       2015-07-21 00:00:00
25       2015-07-21 00:05:00
26       2015-07-21 00:10:00
27       2015-07-21 00:15:00
28       2015-07-21 00:20:00
29       2015-07-21 00:25:00
                 ...
440048   2019-09-30 21:35:00
440049   2019-09-30 21:40:00
440050   2019-09-30 21:45:00
440051   2019-09-30 21:50:00
440052   2019-09-30 21:55:00
440053   2019-09-30 22:00:00
440054   2019-09-30 22:05:00
440055   2019-09-30 22:10:00
440056   2019-09-30 22:15:00
440057   2019-09-30 22:20:00
440058   2019-09-30 22:25:00
440059   2019-09-30 22:30:00
440060   2019-09-30 22:35:00
440061   2019-09-30 22:40:00
440062   2019-09-30 22:45:00
440063   2019-09-30 22:50:00
440064   2019-09-30 22:55:00
440065   2019-09-30 23:00:00
440066   2019-09-30 23:05:00
440067   2019-09-30 23:10:00
440068   2019-09-30 23:15:00
440069   2019-09-30 23:20:00
440070   2019-09-30 23:25:00
440071   2019-09-30 23:30:00
440072   2019-09-30 23:35:00
440073   2019-09-30 23:40:00
440074   2019-09-30 23:45:00
440075   2019-09-30 23:50:00
440076   2019-09-30 23:55:00
440077   2019-10-01 00:00:00
Name: date, Length: 440078, dtype: datetime64[ns]

In [0]:
df2 = df.set_index('date')

In [63]:
ohlc_dict = {                                                                                                             
'open':'first',                                                                                                    
'high':'max',                                                                                                       
'low':'min',                                                                                                        
'close': 'last',                                                                                                    
'volume': 'sum'
}

df3 = df2.resample('60T', how=ohlc_dict, closed='left', label='left')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  if __name__ == '__main__':

In [13]:
df3.isnull().sum()

open      38
high      38
low       38
close     38
volume     0
dtype: int64

In [0]:
df4 = df3.reset_index()

In [15]:
df4.isnull().sum()

date       0
open      38
high      38
low       38
close     38
volume     0
dtype: int64

In [0]:
# df5 = df4.fillna(0)

In [0]:
# df5 = df4.fillna(np.nan)

In [16]:
df4.isnull().sum()

date       0
open      38
high      38
low       38
close     38
volume     0
dtype: int64

In [0]:
import numpy as np
df4['nan_ohlc'] = df4['close'].apply(lambda x: 1 if pd.isnull(x) else 0)

In [18]:
df4['nan_ohlc'].value_counts()

0    36757
1       38
Name: nan_ohlc, dtype: int64

In [19]:
df4[df4['nan_ohlc']==1].sum()

open         0.0
high         0.0
low          0.0
close        0.0
volume       0.0
nan_ohlc    38.0
dtype: float64

In [0]:
# NULLS

# 10229, 10230

# 14134, 14135, 14136, 14137, 14138

# 15238, 15239, 15240

# 19139, 19140

# 20745

# 21008

# 22231, 22232, 22233

# 24582

# 25061

# 25181

# 26787, 26788, 26789, 26790, 26791, 26792, 26793, 26794, 26795, 26796, 26797, 26798, 26799, 26800, 26801

# 30100

# 32655

# 34337

In [0]:
# df4['close'].iloc[10228]

In [0]:
# df5.set_value(10229, 'open', 611.82)
# df5.set_value(10229, 'close', 611.82)
# df5.set_value(10229, 'high', 611.82)
# df5.set_value(10229, 'low', 611.82)

In [0]:
# def logic(df):
  
#   if df.open=='nan':
    
#     x = df.index
    
#     y = x-1
    
#     df.set_value(x, 'open', (df['close'].iloc[y])), df.set_value(x, 'close', (df['close'].iloc[y])), 
  
#       df.set_value(x, 'high', (df['close'].iloc[y])), df.set_value(x, 'low', (df['close'].iloc[y]))

In [0]:
def fill_nan(df):
  
  '''iterates through a dataframe and fills nans with appropriate open, high, low, close values'''
  
  df = df.copy()
  
  # forward filling the close column
  df['close'] = df['close'].ffill()
  
  # backward filling the open, high, low rows with the close value
  df = df.bfill(axis=1)
  
  return df

In [0]:
# df['c'] = df.apply(
#     lambda row: row['a']*row['b'] if np.isnan(row['c']) else row['c'],
#     axis=1
# )

In [0]:
df5 = fill_nan(df4)

In [0]:
# df4[df4['open']=='nan']

In [22]:
df5.isnull().sum()

date        0
open        0
high        0
low         0
close       0
volume      0
nan_ohlc    0
dtype: int64

In [23]:
df5['nan_ohlc'].value_counts()

0    36757
1       38
Name: nan_ohlc, dtype: int64

In [0]:
# export to csv
df5.to_csv('coinbase_btc_usd_1hr.csv', index=False)

## Add Technical Analysis features

In [0]:
# import data
import pandas as pd

path = 'coinbase_btc_usd_1hr.csv'
df = pd.read_csv(path)

In [46]:
pip install ta

Requirement already satisfied: ta in /usr/local/lib/python3.6/dist-packages (0.4.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from ta) (0.24.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from ta) (0.21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from ta) (1.16.5)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->ta) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->ta) (2.5.3)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->ta) (1.3.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->ta) (0.14.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->ta) (1.12.0)

In [0]:
from ta import add_all_ta_features

In [0]:
# # 31 indicators

# Volume
# Accumulation/Distribution Index (ADI)
# On-Balance Volume (OBV)
# Chaikin Money Flow (CMF) *
# Force Index (FI)
# Ease of Movement (EoM, EMV)
# Volume-price Trend (VPT)
# Negative Volume Index (NVI)

# Volatility
# Average True Range (ATR)
# Bollinger Bands (BB)
# Keltner Channel (KC)
# Donchian Channel (DC)

# Trend
# Moving Average Convergence Divergence (MACD)
# Average Directional Movement Index (ADX)
# Vortex Indicator (VI)
# Trix (TRIX)
# Mass Index (MI)
# Commodity Channel Index (CCI)
# Detrended Price Oscillator (DPO)
# KST Oscillator (KST)
# Ichimoku KinkÅ HyÅ (Ichimoku)

# Momentum
# Money Flow Index (MFI)
# Relative Strength Index (RSI)
# True strength index (TSI)
# Ultimate Oscillator (UO)
# Stochastic Oscillator (SR)
# Williams %R (WR)
# Awesome Oscillator (AO)
# Kaufman's Adaptive Moving Average (KAMA)

# Others
# Daily Return (DR)
# Daily Log Return (DLR)
# Cumulative Return (CR)

In [3]:
# TA library from github https://github.com/bukosabino/ta
df2 = add_all_ta_features(df, "open", "high", "low", "close", "volume")

/usr/local/lib/python3.6/dist-packages/ta/trend.py:170: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (dip_mio[i]/trs[i])
/usr/local/lib/python3.6/dist-packages/ta/trend.py:174: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (din_mio[i]/trs[i])

In [4]:
print(df2.shape)
df2.head()

(36795, 66)

                  date    open    high  ...  others_dr  others_dlr  others_cr
0  2015-07-20 22:00:00  278.00  278.50  ... -93.343886         NaN   0.000000
1  2015-07-20 23:00:00  278.31  280.00  ...   0.668728    0.666502   0.668728
2  2015-07-21 00:00:00  279.96  281.00  ...   0.317857    0.317353   0.988711
3  2015-07-21 01:00:00  280.89  281.15  ...  -0.188686   -0.188864   0.798159
4  2015-07-21 02:00:00  280.36  280.46  ...   0.003567    0.003567   0.801755

[5 rows x 66 columns]

In [5]:
df2.isnull().sum()

date                           0
open                           0
high                           0
low                            0
close                          0
volume                         0
nan_ohlc                       0
volume_adi                     0
volume_obv                   195
volume_cmf                     0
volume_fi                      2
volume_em                      3
volume_vpt                     0
volume_nvi                     0
volatility_atr                 0
volatility_bbh                 0
volatility_bbl                 0
volatility_bbm                 0
volatility_bbhi                0
volatility_bbli                0
volatility_kcc                 0
volatility_kch                 0
volatility_kcl                 0
volatility_kchi                0
volatility_kcli                0
volatility_dch                 0
volatility_dcl                 0
volatility_dchi                0
volatility_dcli                0
trend_macd                    25
                           ...
trend_adx_neg                  0
trend_vortex_ind_pos          13
trend_vortex_ind_neg          14
trend_vortex_diff             15
trend_trix                    43
trend_mass_index               0
trend_cci                      1
trend_dpo                      0
trend_kst                      0
trend_kst_sig                  0
trend_kst_diff                 0
trend_ichimoku_a               0
trend_ichimoku_b               0
trend_visual_ichimoku_a        0
trend_visual_ichimoku_b        0
trend_aroon_up                 0
trend_aroon_down               0
trend_aroon_ind                0
momentum_rsi                   1
momentum_mfi                  15
momentum_tsi                   0
momentum_uo                    9
momentum_stoch                 2
momentum_stoch_signal          0
momentum_wr                    2
momentum_ao                    0
momentum_kama              10008
others_dr                      0
others_dlr                     1
others_cr                      0
Length: 66, dtype: int64

In [0]:
# drop null values
null_columns = ['volume_obv', 'trend_adx', 'trend_adx_pos', 'trend_adx_neg', 'trend_trix', 'trend_vortex_ind_pos', 'trend_vortex_ind_neg', 'trend_vortex_diff']

df2.drop(columns=null_columns, inplace=True)

df3 = df2[40:]

In [9]:
df3['close_diff'] = (df3['close'] - df3['close'].shift(1))/df3['close'].shift(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
df3.shape
# shape should be (36755, 58)

(36755, 59)

In [11]:
df3.head()

                   date    open    high  ...  others_dlr  others_cr  close_diff
40  2015-07-22 14:00:00  276.79  278.18  ...    0.454350  -0.068311         NaN
41  2015-07-22 15:00:00  277.68  278.23  ...    0.075525   0.007191    0.000756
42  2015-07-22 16:00:00  278.17  278.54  ...   -0.061135  -0.053930   -0.000611
43  2015-07-22 17:00:00  277.99  278.00  ...   -0.064772  -0.118645   -0.000648
44  2015-07-22 18:00:00  277.81  277.93  ...   -0.252289  -0.370317   -0.002520

[5 rows x 59 columns]

In [0]:
# function to create a target
def price_increase(x):
  if x > 0.001:
    return True
  else:
    return False

In [0]:
# fix the index numbers
df3 = df3.reset_index()
df3.drop(columns='index', inplace=True)

In [0]:
df4 = df3.fillna(method='ffill')

In [17]:
df4.isnull().sum().sum()

1

In [18]:
# create target column
target = df4['close_diff'].apply(price_increase)

target.shape

(36755,)

In [0]:
# remove the first item off target and remove the last item off the dataframe
target3 = target[1:].values
df5 = df4[:36754]

In [20]:
# create target column
df5['target'] = target3

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
# export to csv
df5[1:].to_csv('BTC_USD_CBPro_TA_1hr.csv', index=False)

## Baseline Model

In [0]:
# import data
import pandas as pd
import numpy as np

path = 'BTC_USD_CBPro_TA_1hr.csv'
df = pd.read_csv(path)

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [24]:
# load data
traintest = pd.read_csv('BTC_USD_CBPro_TA_1hr.csv')

# traintest.reset_index()


# traintest = df5[1:]

traintest = traintest.reset_index()

train = traintest[traintest['date'] < '2018-09-30 23:00:00'] # cutoff sept 30 2018
test = traintest[traintest['date'] > '2019-01-31 23:00:00'] # cutoff jan 31 2019
train.shape, test.shape

((27992, 61), (5808, 61))

In [0]:
# pick features and target
features = ['open', 'high', 'low', 'close', 'volume']
target = 'target'

# X, y vectors
X_train = train[features]
X_test = test[features]
y_train = train[target]
y_test = test[target]

In [26]:
# select model
model = RandomForestClassifier()

# fit model
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [27]:
# make predictions 
y_pred = model.predict(X_test)

# accuracy
score = accuracy_score(y_test, y_pred)
print(score)

0.524965564738292

## Model Tuning

In [0]:
# pick features and target
feature_columns = traintest.drop(columns=['target', 'date', ]).columns.tolist()
features = feature_columns
target = 'target'

# X, y vectors
X_train = train[features]
X_test = test[features]
y_train = train[target]
y_test = test[target]

In [29]:
#Random Forest Classifier

# select model

model = RandomForestClassifier(max_depth=2, n_estimators=100, n_jobs=-1)


# fit model
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [30]:
# make predictions 
y_preds = model.predict(X_test)

score = accuracy_score(y_test, y_preds)
print(score)

0.6007231404958677

In [0]:
# Logistic Regession

from sklearn.linear_model import LogisticRegression


model_logistic = LogisticRegression(solver='lbfgs', multi_class='auto',
                           max_iter=10000)

model_logistic.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
print('Test Accuracy', model_logistic.score(X_test, y_pred))

Test Accuracy 0.952995867768595

In [0]:
#XGB Classifier

from xgboost import XGBClassifier

# Fit Model
model_XGB = XGBClassifier()
model_XGB.fit(X_train, y_train)

In [0]:
# Make preditions for test data
y_pred = model_XGB.predict(X_test)
predictions = [round(value) for value in y_pred]

In [0]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [31]:
y_preds.shape

(5808,)

In [0]:
df_preds = X_test

In [33]:
df_preds['y_preds'] = y_preds

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
print(df_preds.shape)
df_preds.tail()

(5808, 60)

       index     open     high  ...    others_cr  close_diff  y_preds
36748  36748  8285.71  8288.30  ...  2878.251959   -0.000226    False
36749  36749  8283.72  8284.00  ...  2861.929244   -0.005481    False
36750  36750  8238.31  8265.00  ...  2865.031998    0.001048    False
36751  36751  8247.41  8294.55  ...  2863.716114   -0.000444    False
36752  36752  8241.45  8313.21  ...  2885.891997    0.007482    False

[5 rows x 60 columns]

In [0]:
df_preds['y_preds_binary'] = df_preds['y_preds'].shift(1).apply(lambda x: 1 if x == True else 0)

In [51]:
(df_preds['y_preds_binary'] * df_preds['close_diff']).sum()

-0.01125019695777936

In [38]:
(df_preds['y_preds_binary'] * df_preds['close_diff']).sum()

-0.01125019695777936

In [0]:
df_preds.to_csv('df_1hr_preds_rf_fees_mod.csv', index=False)

## Download Pickle

In [0]:
import pickle

In [0]:
pickle.dump(model, open('BTC_USD_CBPro_rf_0.53.pkl', 'wb'))